<div style="background: #018FE1; border-radius: 30px; overflow: hidden; display: flex; justify-content: center;">
    <button id="checkout-button" type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded" style="padding: 5px; display: flex; justify-content: center; align-items: center; border: none; background: #018FE1; border-radius: 30px; font-size: 15px; font-weight: bold;" onclick="document.querySelector('.shopify-payment-button__more-options').click();">
        <div style="display: flex;">
            <p>OBTENER OFERTA </p>
        </div>
    </button>
    <div style="display:none;">
        {{ form | payment_button }}
    </div>
</div>
