<div style="background: #018FE1; border-radius: 30px; overflow: hidden; display: flex; justify-content: center;">
    <button type="button" class="shopify-payment-button__button shopify-payment-button__button--unbranded" style="padding: 10px; display: flex; justify-content: center; margin-top: -5px; border: none; background: #018FE1; border-radius: 30px; font-size: 13px; font-weight: bold;" onclick="document.querySelector('.shopify-payment-button__more-options').click();">
        <div style="display: flex;">
            <p>👉 COMENZAR </p>
            <p id="variant-price" style="margin-left: 5px;">${{ product.selected_or_first_available_variant.metafields.custom.variant_price }}mxn</p>
            <p id="variant-compare-price" style="margin-left: 5px; text-decoration: line-through;">${{ product.selected_or_first_available_variant.metafields.custom.variant_compare_price }}mxn</p>
        </div>
    </button>
    <div style="display:none;">
        {{ form | payment_button }}
    </div>
</div>
