<div class="image-text-section">
  <div class="image-guarantee-container">
    <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/Foto-RoC-2020-2.jpg?v=1716404781" alt="Imagen">
  </div>
  <div class="text-guarantee-container">
    <h2 class="section-guarantee-title">Garantía Bealit por 30 días </h2>
    <p class="section-guarantee-description">Resultados garantizados o se te devuelve el dinero.
En Bealit, nuestra misión es Ofrecer los Mejores Productos del Mercado, con Ingredientes que han demostrado su eficacia durante nuestros más de 80 años de investigación. Hemos creado este Kit Revitalizante para garantizar que nuestros clientes tengan la Mejor Experiencia con Bealit. Contamos con una política de devolución de 45 días, lo que significa que usted dispone de ese plazo después de recibir su Kit para solicitar la devolución
</p>
  </div>
</div>

<style>
  .image-text-section {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px; /* Bordes redondeados */
    overflow: hidden; /* Asegurar que el contenido no exceda los bordes */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin-top: 20px;
    margin-bottom: 20px; /* Espacio debajo de la sección */
    margin-left: 80px;
    margin-right: 80px;
    height: 400px; /* Altura para pantallas grandes */
  }

  .image-guarantee-container {
    flex: 1;
    min-width: 300px; /* Ancho mínimo para la imagen */
  }

  .image-guarantee-container img {
    width: 100%;
    height: 100%; /* Hacer que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegurar que la imagen cubra el contenedor sin deformarse */
    display: block;
  }

  .text-guarantee-container {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Alineación al inicio */
    align-items: flex-start; /* Alineación de los elementos al inicio */
    text-align: left; /* Texto alineado a la izquierda */
  }

  .section-guarantee-title {
    margin-top: 0;
    margin-bottom: 15px;
    color: #07A3BA;
    font-weight: bold;
    font-size:30px;
  }

  .section-guarantee-description {
    margin: 0;
    color: #666;
     font-size:17px;
    color: #0a0a0a; 
  }

  @media (max-width: 768px) {
    .image-text-section {
      height: 700px; /* Altura para pantallas pequeñas */
      margin-left: 10px;
      margin-right: 10px;
    }
    .image-guarantee-container, .text-guarantee-container {
      width: 100%;
      height: 50%; /* Altura de 50% en pantallas pequeñas */
    }
    .text-guarantee-container {
      
    }
  }
</style>

{% schema %}
  {
    "name": "Guarantee",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Guarantee"
    }
  ]
  }
{% endschema %}