<div class="section__unique__container">
  <div class="left__unique">
    <h2 class="title__unique">Por qué Bealit es Único</h2>
    <p class="description__unique">Bealit nació hace más de 80 años, dedicados al 100% durante todos estos años al desarrollo exclusivo, asegurándonos de ser la mejor elección del mercado.</p>
  </div>
  <div class="right_unique">
    <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/tabla.png?v=1716404678" alt="Tabla Bealit" class="image__unique" width="700px" height="700px" >
  </div>
</div>

<style>
  .section__unique__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 30px; /* Espacio entre las secciones */
    margin-left: 90px;
    margin-right: 90px;
  }

  .left__unique {
    flex: 1;
    padding: 110px; /* Espacio entre el contenido izquierdo y derecho */
  }

  .title__unique {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px; /* Espacio entre el título y la descripción */
    color: #07A3BA;
    text-align: center;
  }

  .description__unique {
    color: #0a0a0a; /* Color de texto negro */
    margin-bottom: 20px; /* Espacio entre la descripción y la imagen */
    font-size: 17px;
    text-align: center;
     font-weight: normal;
  }

  .right_unique {
    flex: 1;
  }

  .image__unique {
    max-width: 100%;
    height: auto;
    display: block;
  }

  @media (max-width: 768px) {
    .section__unique__container {
      flex-direction: column;
      margin-left: 10px;
      margin-right: 10px;
    }

    .left__unique,
    .right_unique {
      width: 100%;
      padding: 0;
    }

    .title__unique {
      font-size: 28px; /* Tamaño de fuente reducido para móviles */
    }

    .description__unique {
      font-size: 15px; /* Tamaño de fuente reducido para móviles */
    }
  }
</style>

{% schema %}
  {
    "name": "Bealit Unique",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Bealit Unique"
    }
  ]
  }
{% endschema %}