<div class="ingredients__section__">
  <h1 style="width: 100%; text-align: center; font-size: 35px; color: #018FE1;  font-weight: bold; ">Ingredientes activos eficaces</h1>
<div class="ingredient-section">
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">EPS Seafill</h3>
      <p class="ingredient-description">Este innovador ingrediente proviene de las profundidades marinas, específicamente de algas que producen polisacáridos extracelulares (EPS). Conocido por sus propiedades tensoras, EPS Seafill ofrece un efecto lifting inmediato, rejuveneciendo la piel y reduciendo visiblemente las arrugas.
</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/coco.jpg?v=1716324676" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceites Citricos</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/1._EPS_SEAFIL.png?v=1717858639" alt="EPS_SEAFIL" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aloe Vera</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/2._acido_hialuronico.webp?v=1717858639" alt="Acido Hialuronico" class="ingredient-image">
    </div>
  </div>
    <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/3._celulas_madre_vegetales.jpg?v=1717858638" alt="Celulas madre vegetal" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/4._biotina.webp?v=1717858638" alt="Biotina" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/5._Vitamina_C.webp?v=1717858638" alt="Vitamina C" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/6._Rosa_Mosqueta.jpg?v=1717858639" alt="Rosa Mosqueta " class="ingredient-image">
    </div>
  </div>
    <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/7._Liposomas.webp?v=1717858638" alt="Liposomas " class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/8._Filtro_Solar.jpg?v=1717858640" alt="Filtro Solar " class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Tea Tree Oil</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/9._Tea_Tree_Oil.jpg?v=1717858639" alt="Tea Tree Oil" class="ingredient-image">
    </div>
  </div>
</div>
  </div>





{% schema %}
  {
    "name": "Ingredients",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Ingredients"
    }
  ]
  }
{% endschema %}