<div id="ingredients-section" class="ingredients__section__">
   <div class="formula-button">Fórmula <span>BEALIT</span></div>
  <h1 class="title__ingredients" style="width: 100%; text-align: center; font-size: 35px; color: #018FE1;  font-weight: bold; ">Ingredientes activos eficaces</h1>
   <div class="subtitle__ingredients">Formulamos nuestros productos con ingredientes de alta calidad. Cada ingrediente activo es seleccionado tras una rigurosa revisión científica y evaluado por laboratorios independientes para asegurar su calidad. Todos nuestros componentes son 100% naturales y libres de productos químicos dañinos. Nuestra fórmula se inspira en la naturaleza, utilizando ingredientes derivados naturalmente o replicados para imitar sus estructuras moleculares.</div>
<div class="ingredient-section">
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">EPS Seafil</h3>
      <p class="ingredient-description">Innovador ingrediente proviene de las profundidades marinas ofrece un efecto lifting inmediato, rejuveneciendo la piel y reduciendo visiblemente las arrugas.
.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/1._EPS_SEAFIL.png?v=1717858639" alt="EPS_SEAFIL" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Ácido Hialurónico</h3>
      <p class="ingredient-description">Un potente hidratante natural, proporciona una hidratación profunda y aumentando la elasticidad de la piel. Su capacidad para rellenar y suavizar hace que la piel luzca más joven y fresca.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/2._acido_hialuronico.webp?v=1717858639" alt="Acido Hialuronico" class="ingredient-image">
    </div>
  </div>
    <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Células Madre Vegetales</h3>
      <p class="ingredient-description"> Derivadas de plantas, estas células madre bioactivas estimulan la regeneración celular y ofrecen propiedades antioxidantes. Ayudan a revitalizar la piel, mejorando su firmeza y textura.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/3._celulas_madre_vegetales.jpg?v=1717858638" alt="Celulas madre vegetal" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Retinol</h3>
      <p class="ingredient-description">Conocido como vitamina A1, el retinol es esencial para la renovación celular. Ayuda a disminuir la apariencia de líneas finas y arrugas, mejorando la textura y el tono de la piel.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/4._biotina.webp?v=1717858638" alt="Biotina" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title"> Vitamina C</h3>
      <p class="ingredient-description">Este antioxidante potente combate los radicales libres y mejora la luminosidad de la piel. Promueve una piel más firme y radiante, reduciendo manchas y signos de envejecimiento. 
</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/5._Vitamina_C.webp?v=1717858638" alt="Vitamina C" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Rosa Mosqueta</h3>
      <p class="ingredient-description">Rico en ácidos grasos esenciales y antioxidantes, el aceite de rosa mosqueta es conocido por sus propiedades regenerativas. Mejora la textura de la piel y reduce cicatrices y manchas. 
</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/6._Rosa_Mosqueta.jpg?v=1717858639" alt="Rosa Mosqueta " class="ingredient-image">
    </div>
  </div>
    <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Liposomas</h3>
      <p class="ingredient-description">Estas estructuras encapsulan ingredientes activos, facilitando su entrega a las capas más profundas de la piel. Mejoran la eficacia de los tratamientos hidratantes y regenerativos. </p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/7._Liposomas.webp?v=1717858638" alt="Liposomas " class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Filtro Solar</h3>
      <p class="ingredient-description">Una combinación avanzada de filtros físicos y químicos que protegen la piel contra los dañinos rayos UV. Previene el envejecimiento prematuro y reduce el riesgo de cáncer de piel. </p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/8._Filtro_Solar.jpg?v=1717858640" alt="Filtro Solar " class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Tea Tree Oil</h3>
      <p class="ingredient-description">Este aceite esencial, conocido por sus propiedades antimicrobianas, es eficaz en el tratamiento de piojos y liendres. Contiene terpinen-4-ol, que combate eficazmente estos parásitos.
</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/9._Tea_Tree_Oil.jpg?v=1717858639" alt="Tea Tree Oil" class="ingredient-image">
    </div>
  </div>
</div>
  </div>





{% schema %}
  {
    "name": "Ingredients",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Ingredients"
    }
  ]
  }
{% endschema %}