<div class="ingredients__section__">
  <h1 style="width: 100%; text-align: center;">Ingredientes activos eficaces</h1>
<div class="ingredient-section">
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/coco.jpg?v=1716324676" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceites Citricos</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/limon.jpg?v=1716404961" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aloe Vera</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/aloe.jpg?v=1716405112" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
    <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/limon.jpg?v=1716404961" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
  <div class="ingredient-card">
    <div class="ingredient-info">
      <h3 class="ingredient-title">Aceite de Coco</h3>
      <p class="ingredient-description">Hidratación natural para la piel y el cabello.</p>
    </div>
    <div class="ingredient-image-container">
      <img src="https://cdn.shopify.com/s/files/1/0694/5161/2377/files/coco.jpg?v=1716324676" alt="Aceite de Coco" class="ingredient-image">
    </div>
  </div>
</div>
  </div>





{% schema %}
  {
    "name": "Ingredients",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Ingredients"
    }
  ]
  }
{% endschema %}