{% schema %}
{
  "name": "Landing Header",
  "settings": [
    {
      "type": "select",
      "id": "color_scheme",
      "options": [
        {
          "value": "accent-1",
          "label": "t:sections.all.colors.accent_1.label"
        },
        {
          "value": "accent-2",
          "label": "t:sections.all.colors.accent_2.label"
        },
        {
          "value": "accent-3",
          "label": "t:sections.all.colors.accent_3.label"
        },
        {
          "value": "accent-4",
          "label": "t:sections.all.colors.accent_4.label"
        },
        {
          "value": "accent-5",
          "label": "t:sections.all.colors.accent_5.label"
        },
        {
          "value": "accent-6",
          "label": "t:sections.all.colors.accent_6.label"
        },
        {
          "value": "accent-7",
          "label": "t:sections.all.colors.accent_7.label"
        },
        {
          "value": "background-1",
          "label": "t:sections.all.colors.background_1.label"
        },
        {
          "value": "background-2",
          "label": "t:sections.all.colors.background_2.label"
        },
        {
          "value": "inverse",
          "label": "t:sections.all.colors.inverse.label"
        }
      ],
      "default": "background-1",
      "label": "t:sections.all.colors.label"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "t:sections.header.settings.logo.label"
    }
  ],
  "presets": [
    {
      "name": "Encabezado"
    }
  ]
}
{% endschema %}

<div class="full-width-header">
  <div class="container">
    <div class="logo-container">
      {% if schema.logo %}
          <img src="{{ schema.logo | img_url: 'medium' }}" alt="{{ shop.name }}"  height= 400 width= 400 />
      {% endif %}
    </div>
  </div>
</div>

<style>
  .full-width-header {
    width: 100%;
    background-color: #f0f0f0; /* Color de fondo del encabezado */
    text-align: center;
    padding: 20px 0; /* Espaciado interno del encabezado */
  }
  
  .container {
    max-width: 1200px; /* Ancho máximo del contenedor del encabezado */
    margin: 0 auto; /* Centrar el contenedor horizontalmente */
  }

  .logo-container {
    display: inline-block;
  }

  .logo img {
    max-width: 200px; /* Ancho máximo del logo */
    height: auto;
  }
</style>
