{% style %}
  .percentage__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  @media screen and (min-width: 1200px) {
    .percentage__container {
      margin-right: 100px;
      margin-left: 100px;
    }
  }

  @media screen and (max-width: 1199px) {
    .percentage__container {
      margin-right: 30px;
      margin-left: 30px;
    }
  }

  .left {
    width: 100%;
    flex: 1;
    padding: 20px;
  }

  .right {
    flex: 1;
    padding: 20px;
  }

  .image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    .percentage__container {
      flex-direction: column;
    }
    .right {
      flex: auto;
      order: -1;
      padding: 0px;
      margin-bottom: 10px;
    }
    .left {
      padding: 0px;
    }
  }

  .percentage__title__container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .percentage__title {
    margin: 0;
    font:bold;
  }

  .progress__bars {
    display: flex;
    flex-wrap: wrap;
    gap: 0.2rem;
  }

  .case__progress {
    width: 100%;
    margin-right: 10px; /* Espacio entre las barras */
    margin-bottom: 10px; /* Espacio entre las barras cuando se envuelven */
  }

  .case__progress div {
    margin-bottom: 5px; /* Espacio entre el título y la barra */
    display: flex;
  }

  .progress__bar {
    width: 100%;
    height: 25px;
    border: 1px solid #333;
    position: relative;
    background: #f2f2f2;
    border-radius: 10px;
    overflow: hidden;
  }

  .percentage__text {
    font-size: 1.3rem;
  }

  .number__percentage {
    margin: 0;
    width: 70px;
  }

  .progress__ {
    height: 100%;
    background-image: linear-gradient(to right, #3b82f6, #93c5fd);
    display: block;
    border-radius: 10px;
  }
.circle-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .circle-item {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .circle {
    width: 80px; /* Diámetro del círculo */
    height: 80px; /* Diámetro del círculo */
    background:#89adc9;
    );
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .circle::before {
    content: '';
    position: absolute;
    width: 60px; /* Diámetro del círculo interior */
    height: 60px; /* Diámetro del círculo interior */
    background: white;
    border-radius: 50%;
  }

  .inner-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 60px; /* Coincide con ::before */
    height: 60px; /* Coincide con ::before */
    background: transparent;
    border-radius: 50%;
  }

  .percentage {
    font-size: 20px;
    font-weight: bold;
    position: relative;
     color:#89adc9b2;
  }

  .description__percentage {
    max-width: 200px;
    font-size: 16px;
    line-height: 1.4;

  }

  @media (min-width: 768px) {
    .circle-container {
      flex-direction: column;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
{% endstyle %}

<div class="percentage__container">
  <div class="left">
    <div class="percentage__title__container">
      <h1 class="percentage__title">Resultados Comprobados en 90 Días</h1>
    </div>
    <div class="circle-container">
      <div class="circle-item">
        <div class="circle" style="--percentage: 97;">
          <div class="inner-circle">
            <span class="percentage">97%</span>
          </div>
        </div>
        <div class="description__percentage">Obtuvo una disminución clínicamente demostrada de las líneas de expresión</div>
      </div>
      <div class="circle-item">
        <div class="circle" style="--percentage: 94;">
          <div class="inner-circle">
            <span class="percentage">94%</span>
          </div>
        </div>
        <div class="description__percentage">Presenta menos arrugas</div>
      </div>
      <div class="circle-item">
        <div class="circle" style="--percentage: 88;">
          <div class="inner-circle">
            <span class="percentage">88%</span>
          </div>
        </div>
        <div class="description__percentage">Experimentó un aumento clínicamente probado en la elasticidad y firmeza de su piel</div>
      </div>
    </div>
  </div>
  <div class="right">
    <img src="https://cdn.shopify.com/s/files/1/0436/0673/7049/products/gle-wrinkles-cream.jpg?v=1705892041" alt="Gle Skincare Wrinkle Cream with Niacinamide and Algae Extract" class="image" width="700px" height="700px">
  </div>
</div>


{% schema %}
  {
    "name": "Percentage",
      "tag": "section",
  "class": "section",
    "settings": [],
     "presets": [
    {
      "name": "Percentage"
    }
  ]
  }
{% endschema %}